################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/TonoExcel/bin
/TonoExcel/obj
/Tono/obj
/Tono/bin
/TonoGui/obj
/TonoGui/bin
/TonoGuiUwp/obj
/TonoGuiUwp/bin
/TonoJit/obj
/TonoJit/bin
/TonoLogic/obj
/TonoLogic/bin
/packages
/TonoGuiWinForm/@Doc
/TonoGuiWinForm/bin/Release
/TonoGuiWinForm/obj/Release
/@Cert
/TonoGuiWinForm/obj/Debug
